.container
    height: 82%
    margin: auto
    box-shadow: 0px 0px 40px 0px #888888
    background: #e0e0e0
    text-align: center
    transition-duration: 2s
    @media screen and (min-width: 750px)
        transition: 1s
        transition-timing-function: linear
        width: 600px
        box-shadow: 0px 7px 40px 1px #888888
        border-radius: 55px
.bubble-container
    display: inline-block
    width: 95%
    margin: 5px
    text-align: left

.chatbox
    margin: auto
    overflow: scroll
    height: 94%

.chatbox::-webkit-scrollbar
    width: 0px

.speech-bubble
    position: relative
    list-style: none
    text-align: left
    border-radius: 15px
    padding: 5px
    display: inline-block
    max-width: 220px
        
.right-bubble
    background: #FFE06D
    float: right
    .name
        font-family: 'Song Myung', serifc
        width: auto
        padding: 3px
        text-transform: uppercase
        position: relative
        text-align: left
        display: inline-block
        max-width: 110px
        overflow-y: hidden
    .message
        color: #fff
        position: relative
        bottom: 5px
        padding: 3px 

.left-bubble
    background-color: #757575
    left: 5px
    .name
        font-family: 'Song Myung', serifc
        width: auto
        padding: 3px
        text-transform: uppercase
        position: relative
        text-align: left
        display: inline-block
        max-width: 110px
        overflow-y: hidden
       
    .message
        color: #fff
        position: relative
        bottom: 5px
        padding: 3px    

.time-right
    position: absolute
    right: 255px
    bottom: 7px
    color: #BDBDCF
    font-size: 10px
    width: 40px
    transform: rotate(270deg)
    @media screen and (max-width: 500px)
        right: 250px

.time-left
    position: absolute
    left: 275px
    bottom: 10px
    color: #BDBDCF
    font-size: 10px
    width: 40px
    @media screen and (max-width: 500px)
        left: 250px

.pending
    font-weight: bold
    font-size: 20px
    text-align: center
    display: inline-block
    margin-top: 200px
    height: 80px
    width: 200px
    border-radius: 30px
    box-shadow: 0px 7px 40px 1px #888888
    background-color: #ffcc80
    transition: 1000ms
    @media screen and (max-height: 450px)
        margin-top: 20px

.pending::after
    content: "Say Something to"
    position: relative
    top: 10px
    font-family: 'Bree Serif', serif

.message-form
    max-width: 600px
    margin: auto
    bottom: 0px
    height: 53px
    .message-input
        margin: 5px 5px
        height: 30px
        border: 0px
        resize: none
        width: 70%
        background: none
    .message-button
        border: none
        border-radius: 7px
        cursor: pointer
        color: #fff
        background: #ff5722
        font-size: 10px
        padding: 10px 20px 
        margin: 10px 15px
        float: right
        line-height: 1

.image
    height: 45px
    display: inline-block
    width: 45px
    position: relative
    right: 75px
    border-radius: 25px
    background: tomato
    >img
        height: 45px
        display: inline-block
        width: 45px
        border-radius: 25px
.unfriend
    position: absolute
    cursor: pointer
    background-color: #e57373
    background-image: linear-gradient(#fff, #e57373 45%)
    width: 135px
    display: inline-block
    padding: 10px
    margin-top: 84px
    border-radius: 15px
.first-name
    position: absolute
    right: 0
    left: 0
    margin: 40px
    text-transform: uppercase
    font-family: 'Bree Serif', serif
.activity
    text-transform: uppercase
    font-size: 23px
    cursor: pointer