<div class="speech-bubble">
    <p>Hello. How are you today?</p>
    <span class="time-right">11:00</span>
</div>

<div class="speech-bubble dark">
    <p>Hello. How are you today?</p>
    <span class="time-right">11:00</span>
</div>

<form class="message-form" (submit)="createMessage()">

    <!-- <input class="message message-input" type="text" placeholder="Say something ..." name="message" [(ngModel)]="message.message"> -->
    <textarea class="message message-input" placeholder="Say something" type="text" ></textarea>
    <!-- <input class="message message-button" type="submit" value="Send"> -->
    <button type="submit" class="message-button">Send</button>

</form>
