.message-board
    // background-color: #80cbc4
    height: 78.8%
input
    // display: block
    // width: 40%
    // bottom: 0
    margin: 0
    background-color: white
    border: 0px

.message-input
    width: 70%
.message-button
    width: 29%
    border-radius: 0px
    height: 45px
    background-color: #8d6e63 
    border: 0px
    &:hover
        background-color: #a1887f 
.message-form
    // margin: 0