<app-header></app-header>
<div class="container">

  <p class="head">The Friend Zone</p>
  <div >
    <ul *ngFor="let friend of friendList">
      <li class="friend" [routerLink]="['/chat',friend._id]">
        <div class="photo"> <img class="image" [src]="friend.image[0]" alt="" height="60px" width="60px"> </div>
        <div class="username">
          <p class="name">{{friend.first_name}}</p>
        </div>
      </li>
    </ul>
  </div>
  <!-- <div *ngFor="let friend of friendList">
    <ul *ngFor="let user of friend">
      <li class="friend" *ngFor="let name of user.users" [routerLink]="['/chat',name._id]">
        <div class="photo"></div>
        <div class="username">
          <p class="name">{{name.first_name}}</p>
          <p class="preview">{{ user.message.text }}</p>
        </div>
      </li>
    </ul>
  </div> -->

</div>
