.container
    max-width: 750px
    min-height: 85%
    padding: 10px
    margin: auto
    @media screen and (min-width: 750px)
        box-shadow: 0px 7px 40px 1px #888888
        transition: 3s
.photo
    display: inline-block
    height: 100%
    cursor: pointer    
.head
    background: #ffcc80
    background: linear-gradient(90deg, #ffcc80, #fff3e0)
    color: #424242
    padding: 5px
    font-family: 'Bree Serif', serif
    letter-spacing: 5px
    font-size: 25px
    text-align: center
.friend
    font: 200 20px/1.5 Helvetica, Verdana, sans-serif;
    transition:  500ms
    padding: 5px
    background: #fff
    height: 60px;
    margin: 5px
    list-style: none
    @media screen and (min-width: 750px)
        &:hover
            font-size: 22px
            box-shadow: 0px 7px 50px 1px #888888
            width: 700px
            margin: auto
            border-radius: 10px
            position: relative
            transition: 2000ms
.username
    color: #000000
    cursor: pointer
    margin: 0px 0px 0px 10px
    display: inline-block
    position: relative
    bottom: 22px
.name
    font-family: 'Bree Serif', serif
    text-transform: uppercase
    display: inline-block
.preview
    font-family: 'Source Sans Pro', sans-serif
    overflow-y: hidden
    width: 280px
    height: 30px
    @media screen and (min-width: 750px)
        width: 590px
.image
    border-radius: 27px
.unfriend
    float: right
    margin-top: 15px
    cursor: pointer

.unmessaged-friends
    height: 60px
    overflow-y: scroll
    border-bottom: 1px solid black

.unmessaged-friend
    background-color: cadetblue
    height: 55px
    width: 55px
    margin: 2px
    border-radius: 27px
    list-style: none

.ul-container
    display: inline-block
.messaged-friend
    padding: 5px
.messaged-friend
    list-style: none
    height: 55px
    width: 55px
    border-radius: 35px
    display: inline-block
.ul-container2
    height: 65px
.message-preview
    width: 200px
    display: inline-block
    position: relative
    bottom: 20px
    font-size: 20px
    overflow: hidden