p
    background-color: #607d8b
    width: 100%
    font-size: 25px
ul > li
    font: 200 20px/1.5 Helvetica, Verdana, sans-serif;
    background-color: #bdbdbd
    border-bottom: 1px solid black
    &:hover
        font-size: 30px