<app-header></app-header>

  
<div class="card">

    <div class="profile-image">
        <slideshow [imageUrls]="user.image"></slideshow>
    </div>
    <div class="user-name">
        <p class="name">{{ user.first_name }}</p>
        <ngx-loading [show]="loadingImages"></ngx-loading>
        
        <div class="active-status">
            <p class="user-is-active activity" *ngIf="user.active == true">Active for: {{ user.activity }}</p>
            <p class="user-not-activity activity" *ngIf="user.active == false">Not Active</p>     
        </div>           

        <P *ngIf="user.birthday " class="age">{{ calculateAge(user.birthday) }}</P>
    </div>

    <div class="user-info blur-focus blur">
        <p class="blur-para" *ngIf="user.blur">{{ user.blur }}</p>
    </div>
    <div class="user-info bio">
        <p class="bio-para" *ngIf="user.bio">{{ user.bio }}</p>
    </div>

    <div *ngIf="user.hobbies.length > 0"  class="likes">

        <p class="like-title">Likes:</p>
        
        <div class="hobbies" *ngFor="let hobbie of user.hobbies">
            <p class="hobbie">{{hobbie}}</p>
        </div>
            
    </div>
        
</div>