<app-header></app-header>

  
<div class="card">

    <div class="profile-image">
        <img *ngFor="let image of user.image" class="gallary" [src]="image" alt="">
    </div>
    <div (click)="isClassVisible = !isClassVisible" class="user-name">
            <p class="name">{{ user.first_name }}</p>

            <p class="active activity" *ngIf="user.active == true">Active for: {{ user.activity }}</p>
            <p class="not-activity activity" *ngIf="user.active == false">Not Active</p>            

            <P class="age">{{ calculateAge(user.birthday) }}</P>
    </div>

    <p [ngClass]="{'blur-focus':focus}" class="user-info blur-focus blur">
        {{ user.blur }}
    </p>
    <p class="user-info bio">
        {{ user.bio }}
    </p>

    <div *ngIf="user.hobbies.length > 0"  class="likes">

        <p class="like-title">Likes:</p>
        
        <div class="hobbies" *ngFor="let hobbie of user.hobbies">
            <p class="hobbie">{{hobbie}}</p>
        </div>
            
    </div>
        
</div>