nav
    min-height: 80px
    background-color: #30415D
    color: #fff
    text-align: center

    .brand-logo
        padding: 20px
        font-size: 30px
        font-family: 'Song Myung', serif;
        >i
                color: #ffcc80 