nav
    min-height: 73px
    height: 10%
    background-color: #404040
    color: #fff
    text-align: center
.brand-logo
    color: white
    cursor: pointer
    font-family: 'Modak', cursive
    display: inline-block
    position: relative
    top: 15px
    left: 5px
    font-size: 25px
    &:hover 
        color: #e0e0e0
.zone-span
    color: #ffcc80 
    animation-duration: 50s
    animation-iteration-count: infinite
    animation-name: title-color-change

@keyframes title-color-change
    0%
        color: #ffcc80
    15%
        color: #ef6464
    30%
        color: #f3ef00
    55%
        color: #2df300
    75%
        color: #994fd8
    85%
        color: #fd4df5
    95%
        color: #fb5454
    100% 
        color: #ffcc80