<app-landing-header></app-landing-header>

<div class="landing-page-intro">

  <p class="slide slide-1" >Meet new people in a platonic environment,
    no dating, no flirting, just a FriendZone.</p>

  <p class="slide slide-3" >Need a friend to go see that movie? eat some pancakes?</p>

  <p class="slide slide-2" >Log In or Sign up to start meeting new friends</p>

</div>
<div class="signUp">
  <button [routerLink]="['/register']" class="foward">Join</button>
  <button [routerLink]="['/login']" class="foward">Login</button>
</div>
