.dialog
    text-align: center
    padding-top: 75px
    margin: 25px
    font-size: 30px
    font-family: Arial, Helvetica, sans-serif
    color: white
    // background-color: red
    position: fixed

div.signUp
    margin-top: 313px
    right: 0
    bottom: 0
    left: 0
    position: absolute
    display: inline-block
    // background-color: antiquewhite

.foward
    background-color: #4CAF50
    color: white
    border: none
    width: 100%
    cursor: pointer
    margin-bottom: 0.5px
    height: 50px
    font-size: 16px


    