.slide {
  position: absolute;
  color: #fff;
  font-size: 2.5em;
  width: 300px;
  -webkit-animation-duration: 15s;
          animation-duration: 15s;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  font-family: 'Source Sans Pro', sans-serif;
  font-family: 'Luckiest Guy', cursive;
  top: 170px;
  pointer-events: none;
  margin: auto;
  left: 0px;
  right: 0px;
}

.landing-page {
  height: 88%;
  min-height: 500px;
  background-color: tomato;
  text-align: center;
  -webkit-animation-name: color-change;
  -webkit-animation-duration: 50s;
  -webkit-animation-timing-function: ease-in-out;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-play-state: running;
}

@keyframes color-change {
  0% {
    background-color: #d65b5beb;
  }
  15.0% {
    background-color: #ef5350;
  }
  30.0% {
    background-color: #c62828;
  }
  55.0% {
    background-color: #ff8a80;
  }
  75.0% {
    background-color: #ff9e80;
  }
  85.0% {
    background-color: #ff5722;
  }
  100.0% {
    background-color: #e65100;
  }
}

@-webkit-keyframes color-change {
  0% {
    background-color: #d65b5beb;
  }
  15.0% {
    background-color: #ef5350;
  }
  30.0% {
    background-color: #c62828;
  }
  55.0% {
    background-color: #ff8a80;
  }
  75.0% {
    background-color: #ff9e80;
  }
  85.0% {
    background-color: #ff5722;
  }
  100.0% {
    background-color: #e65100;
  }
}

.slide-1 {
  -webkit-animation-name: slide1;
          animation-name: slide1;
}

.slide-2 {
  -webkit-animation-name: slide2;
          animation-name: slide2;
}

.slide-3 {
  -webkit-animation-name: slide3;
          animation-name: slide3;
}

@-webkit-keyframes slide1 {
  0%, 13% {
    left: -100%;
    opacity: 0;
  }
  13%, 18% {
    left: 0%;
    opacity: 1;
  }
  61.33%, 100% {
    left: -50%;
    opacity: 0;
  }
}

@keyframes slide1 {
  0%, 13% {
    left: -100%;
    opacity: 0;
  }
  13%, 18% {
    left: 0%;
    opacity: 1;
  }
  61.33%, 100% {
    left: -50%;
    opacity: 0;
  }
}

@-webkit-keyframes slide2 {
  0%, 33.33% {
    left: -100%;
    opacity: 0;
  }
  41.63%, 60% {
    left: 0%;
    opacity: 1;
  }
  66.66%, 100% {
    left: -50%;
    opacity: 0;
  }
}

@keyframes slide2 {
  0%, 33.33% {
    left: -100%;
    opacity: 0;
  }
  41.63%, 60% {
    left: 0%;
    opacity: 1;
  }
  66.66%, 100% {
    left: -50%;
    opacity: 0;
  }
}

@-webkit-keyframes slide3 {
  0%, 66.66% {
    left: -100%;
    opacity: 0;
  }
  74.96%, 91.62% {
    left: 0%;
    opacity: 1;
  }
  100% {
    left: -50%;
    opacity: 0;
  }
}

@keyframes slide3 {
  0%, 66.66% {
    left: -100%;
    opacity: 0;
  }
  74.96%, 91.62% {
    left: 0%;
    opacity: 1;
  }
  100% {
    left: -50%;
    opacity: 0;
  }
}

.foward {
  background-color: #404040;
  color: white;
  border: none;
  width: 100%;
  cursor: pointer;
  height: 40px;
  font-size: 13px;
}

.foward:hover {
  background-color: #fff;
  color: #404040;
}

.options {
  background-color: #ffffff;
  position: absolute;
  width: 100%;
  bottom: 0;
}
/*# sourceMappingURL=landing.component.css.map */