<app-landing-header></app-landing-header>

<div class="password-reset-container" *ngIf="!success">
  
  <form (submit)="resetPassword()">
    <input type="password" class="input" (input)="passwordMatch()" [(ngModel)]="passwords.password" name="password" placeholder="Password">
    <input type="password" class="input" (input)="passwordMatch()" [(ngModel)]="passwords.confirm_password" name="confirm_password" placeholder="Confirm Password">
    <input type="submit" class="submit" [ngClass]="{'confirmed': match }" value="Reset Password">
  </form>
  <p *ngIf="message">{{message}}</p>
</div>
<div *ngIf="success" class="password-reset">
  <p>Your password has been reset! </p>
</div>
