.categories
    padding: 5px 0px 0px 0px
.category
    background-color: #6ACCCB
    color: white
    text-align: center
    height: 200px
    margin: 5px 0px 0px 1px
    width: 99%
    display: inline-block
    &:hover
        background-color: #447272
