.categories
    padding: 5px 0px 0px 0px
img
    height: 170px
    width: 380px
    position: absolute
.category
    height: 170px
    margin: auto
    margin-top: 5px
    width: 380px
    cursor: pointer
    position: relative
    >p  
        position: relative
        top: 60px
        border: 5px solid #fff
        text-align: center
        font-size: 35px
        font-family: 'Abril Fatface', cursive
        color: #fff        
 