.categories
    padding: 5px 0px 0px 0px
img
    height: 170px
    width: 396px
.category
    background-color: #6ACCCB
    color: white
    text-align: center
    height: 170px
    margin: 5px 0px 0px 1px
    width: 99%
    display: inline-block
    p
        color: black
    &:hover
        background-color: #447272