<app-header></app-header>

<div class="categories"> 
      
  <div [routerLink]="['/users']" id="breakfast" class="category">
    <img src="../../assets/breakfast.jpg" alt="Breakfast">
    <p>BREAKFAST</p> 
  </div>

  <div [routerLink]="['/users']" id="physical" class="category">
    <img src="../../assets/running.jpg" alt="Breakfast"> 
    <p>PHYSICAL</p> 
  </div>

  <div [routerLink]="['/users']" id="cinema" class="category">
    <img src="../../assets/cinema.jpg" alt="Breakfast"> 
    <p>CINEMA</p> 
  </div>

  <div [routerLink]="['/users']" id="bar" class="category">
    <img src="../../assets/bar.jpg" alt="Breakfast">
    <p>BAR</p> 
  </div>

  <div [routerLink]="['/users']" id="music" class="category">
    <img src="../../assets/music.jpeg" alt="Breakfast"> 
    <p>MUSIC</p> 
  </div>

  <div [routerLink]="['/users']" id="dancing" class="category"> 
    <img src="../../assets/dance.jpg" alt="Breakfast">
    <p>DANCING</p> 
  </div>

  </div>
