<div class="homeComponent">
  <div class="categories"> 
      <a [routerLink]="['/users']"><div class="category">Breakfast</div></a>
      <a [routerLink]="['/users']"><div class="category">Pysical</div></a>
      <a [routerLink]="['/users']"><div class="category">Cinama</div></a>
      <a [routerLink]="['/users']"><div class="category">Bar</div></a>
      <a [routerLink]="['/users']"><div class="category">Music</div></a>
      <a [routerLink]="['/users']"><div class="category">Dancing</div></a>
  </div>
</div>
