nav
    background-color: #30415D
    min-height: 15%
    // text-align: left
    // padding: 0px
    // margin: 0px
    padding-top: 25px
    >a
        text-decoration: underline
    .material-icons
        padding: 3px
        float: right
        margin-left: 15px
        margin-top: 5px
        