<nav>
  <h1 class="logo">FriendZone</h1>
</nav>
  
<div class="dialog">
  
  <div class="slide">
      <p>Meet new people in a platonic environment,
          no dating, no flirting, just a FriendZone.</p>
  </div>

  <div class="slide">
      <p>Or date, we don't care</p>
  </div>

  <div class="slide">
      <p>Need a friend to go see that movie? eat some pancakes?</p>
  </div>

</div>
  
<div class="signUp">
  <button type="button" class="foward">Join</button>
  <button type="button" class="foward">Login</button>
</div>
