* {
    margin: 0px;
    padding: 0px;
    }
body{
    // padding: 0px;
    // margin: 0px;
    background-color: #cf6766
}
nav{
    background-color: #30415D;
    height: 15%;
    text-align: center;
    cursor: pointer;
    .logo{
        color: white;
        padding: 35px;
    }
    padding: 0px;
    margin: 0px;
}
