<div class="register">
  <div class="form">
    <form #myForm="ngForm" (submit)="create()">
        
        <input type="text" class="form-group validate" placeholder="First Name" name="first_name" [(ngModel)]="user.first_name">
        <input type="email" class="form-group" placeholder="Email" name="email" [(ngModel)]="user.email">
        <input type="password" class="form-group" placeholder="Password" name="password" [(ngModel)]="user.password">
        <input type="password" class="form-group" placeholder="Confirm Password" name="confirm_password" [(ngModel)]="user.confirm_password">
        <input type="submit" class="form-group form-button" value="Register">

    </form>
      
    <button [routerLink]="['/login']" class="form-group button-link">Login</button>
      
  </div>
</div>
