.register
    text-align: center
    height: 300px
    margin: auto
    margin-top: 175px
    width: 340px
    @media screen and (min-width: 600px)
        width: 550px
     
.form-group
    width: 90%
    margin: 10px 0px 0px 0px
    padding-left: 10px
    border: 0px
    height: 40px

.form-button
    background-color: #eeeeee
    text-transform: uppercase;
    transition-property: background-color color border-width
    transition-duration: 300ms
    color: #fff
    cursor: not-allowed
    pointer-events: none
    &:hover
        background-color: #eeeeee 
        color: black

.form-active
    pointer-events: auto
    background-color: black
    color: #fff
    cursor: pointer

.password-compare
    background-color: #c8e6c9
    color: black

.button-link
    background-color: #eeeeee 
    text-transform: uppercase;
    transition-property: background-color color border-width
    transition-duration: 1s
    color: black
    &:hover
        background-color: #031424 
        color: white
        border-width: 1px

.error-message
    color: red
    width: 200px
    margin: 4px auto
    padding: 5px

.date
    font-size: 10px
    color: #757575

.placeholder::before
    content: "Birthday"
    position: absolute
    background-color: #fff
    width: 100px
    padding-top: 0px
    font-size: 12px

.ageValidation
    background-color: #EF9A99