div.register
    // background-color: wheat
    text-align: center
    height: 40%
    margin: 130px 0px 0px 0px
    padding: 45px 0px 0px 0px

.form-group
    width: 75%
    margin: 10px 0px 0px 0px
    padding-left: 10px
    border: 0px
    height: 40px
.form-button
    color: white
    background-color: #031424
.form
    // background-color: turquoise
    // margin: 20px 0px 0px 0px
    // padding: 70px 0px 0px 0px
