@import "../../../node_modules/ngx-chips/core/styles/core/_core.scss";

.card

    .card-image
        width: 100%
        text-align: center
        height: 300px
        img
            height: 300px
            width: 375px

    .card-content 
        text-align: center
        width: 90%
        margin: 15px auto
        >input
            border: none
            box-shadow: 0
            width: 90%
            background: transparent
            text-transform: uppercase
        .logoutButton
            margin: 20px
            height: 40px
            font-weight: bold
            width: 90px
            border: 0px
            background: #e53935

.bio
    margin-top: 10px 
    resize: none
    border: 0
    outline: none
    background: transparent
    height: 150px
    direction: ltr
    width: 90%

textarea
    min-height: 80px
    width: 90%
    resize: none
    border: 0
    background: transparent

.closebtn:hover
    cursor: default

select
    width: 300px
    background: transparent
    border: 0px
    border-radius: 5px
    
// .tag-input
//     background: transparent

// .ng2-tag-input__text-input[_ngcontent-c4]
//     background: transparent
// .ng2-tag-input__text-input
//     background: transparent
// .ng-pristine
//     background: transparent
// .tag-input-form
//     background: transparent
// .ng-ng2-tag-input__text-input
//     background: green
// .ng-untouched
//     background: red
// .ng-pristine
//     background: yellow
//     input
//         background-color: tomato
// .ng-valid
//     background-color: blue
//     input
//         background-color: yellow
