.card-image
    text-align: center
    height: 300px
    bottom: 5px
    img
        height: 300px
        width: 350px

.card-content 
    text-align: center
    padding: 10px
    border: 0px solid
    max-width: 750px
    margin: 15px auto
    @media screen and (min-width: 750px)
        transition: 3s
        box-shadow: 0px 7px 40px 1px #888888
    .saveButton
        width: 350px
        height: 40px
        margin-top: 10px
        font-weight: bold
        border: 0px
        cursor: pointer
        border-radius: 30px
        background: #66bb6a
        &:hover
            color: #fff
            font-size: 10px
            background-color: #00c853
    .logoutButton
        margin-top: 10px
        height: 40px
        font-weight: bold
        width: 350px
        border: 0px
        border-radius: 30px
        background: #ef5350
        cursor: pointer
        &:hover
            color: #fff
            background: #d50000
            font-size: 10px
    .blur
        background: #f5f5f5
        padding: 5px
    .bio
        margin-top: 10px 
        resize: none
        border: 0
        outline: none
        height: 150px
        direction: ltr
        padding: 5px
        background: #f5f5f5
        width: 95%

    textarea
        min-height: 80px
        width: 95%
        font-size: 15px
        resize: none
        border: 0
        background: transparent

.closebtn:hover
    cursor: default

.left
    text-align: left
    font-weight: bold
    margin: 5px
    font-family: 'Song Myung', serifc
    
.header
    height: 46px
    margin: auto
    margin-top: 10px
    #name
        color: #333333
        font-family: 'Song Myung', serifc
        font-size: 25px
        font-weight: norma
        margin-bottom: 15px
        float: left
        display: inline-block
        text-transform: capitalize
    input[type=checkbox]
        display: none

    label
        background: #eb5c55
        height: 30px
        display: block
        width: 70px
        display: block
        float: right
        position: relative
        top: 5px
        border-radius: 50px
        cursor: pointer
    label::before
        content: "Active"
        font-weight: bold
        font-family: 'Song Myung', serifc
        font-size: 20px
        right: 80px
        content: "Active"
        position: absolute
        top: 5px
    label::after 
        content: ""
        width: 25px
        height: 25px
        background: #ffffff
        position: absolute
        border-radius: 100px
        top: 2px
        left: 2px
        transition: 0.3s

    input:checked + label
        background: #bada55

    input:checked + label::after
        left: calc(100% - 3px)
        transform: translateX(-100%)

    label:active:after
        width: 35px
    select
        width: 300px
        background: transparent
        border: 0px
        border-radius: 5px
.container
    // background-color: grey
    position: relative
    width: 100%
    top: 20px
    height: 70px

.options
    background: transparent
    width: 190px
    height: 35px
    border: 0px
    cursor: pointer
    &:hover
        background: #f5f5f5
.dropdown-head
    width: 190px
    background: #e0e0e0
    margin: auto
    display: none
    
.options-active
    display: block
    animation: fadeInUp 800ms
.dropdown-container
    background-color: #ffffff
    border-bottom: 1px solid
    font-size: 25px
    font-weight: bold
    cursor: pointer
    height: 35px
    width: 190px
    margin: auto
    text-transform: capitalize
    &:hover
        background: #e0e0e0

@keyframes fadeInUp
    from
        opacity: 0
        transform: translate3d(0, 20px, 0)
    to
        opacity: 1
        transform: none

