
  <div class="profile">

    <div class="user-image">
      <img src="" alt="">
    </div>

    <div class="user-bio">
      <h1>Harold</h1>
      <h3>Aurora, IL</h3>
      <p>I'm trying to get a quick guitar session going around 4 p.m Friendzone me if you're down!</p>
      <p>Ladyship it daughter securing procured or am moreover mr. Put sir she exercise vicinity cheerful wondered. Continual say suspicion provision you neglected sir curiosity unwilling. Simplicity end themselves increasing led day sympathize yet. General windows effects not are drawing man garrets. Common indeed garden you his ladies out yet. Preference imprudence contrasted to remarkably in on. Taken now you him trees tears any. Her object giving end sister except oppose. 
        </p>
    </div>

    <div class="options">
      <form action="">
        <input type="button" class="option" value="FriendZone">
        <input type="button" class="option" value="Pass">
      </form>
    </div>

  </div>

