.card
    margin: 0px
    height: auto
    .card-content
        >input
            outline: none
            border-bottom: 0
            box-shadow: 0
            width: 330px
            margin-left: 10px
            // background-color: red
textarea
    resize: none
    border: 0
    // background-color: red
    outline: none
    overflow: 
    padding: 0