<app-header></app-header>

<div class="card-content">

  <div class="images-container">

      <div class="image-container">
        <input type="file" [ngModel]="userImage" name="file" id="file" class="inputImage" (change)="imageUpload($event)" *ngIf="!url" />
        <label for="file" class="imageLabel" *ngIf="!url">Choose an Image</label>
        <div class="image" *ngIf="url">
            <img [src]="url" height="200"> 
        </div>
      </div>
      <div class="image-container">
        <input type="file" [ngModel]="userImage" name="file" id="file" class="inputImage" (ngModelChange)="imageUpload($event)" />
        <label for="file" class="imageLabel" >Choose an Image</label>
        <!-- <div class="image" *ngIf="url">
            <img [src]="url" height="200"> 
        </div> -->
      </div>
      <div class="image-container">
        <input type="file" [ngModel]="userImage" name="file" id="file" class="inputImage" (ngModelChange)="imageUpload($event)" />
        <label for="file" class="imageLabel" >Choose an Image</label>
        <!-- <div class="image" *ngIf="url">
            <img [src]="url" height="200"> 
        </div> -->
      </div>    
      <div class="image-container">
        <input type="file" [ngModel]="userImage" name="file" id="file" class="inputImage" (ngModelChange)="imageUpload($event)" />
        <label for="file" class="imageLabel" >Choose an Image</label>
        <!-- <div class="image" *ngIf="url">
            <img [src]="url" height="200"> 
        </div> -->
      </div>
    
  </div>

  <div class="header">
      <h1 class="left" id="name">{{ name }}</h1>
      <input type="checkbox" [ngModel]="userIsActive" name="userIsActive" (ngModelChange)="userActive($event)"  id="switch">
      <label for="switch"></label>
  </div>

  <form (submit)="editUser()">

    <p class="left">Blur</p>

    <textarea class="blur" placeholder="Give people a quick summary of what you're trying to do." [(ngModel)]="userInfo.blur" name="blur" >{{ blur }}</textarea>

    <p class="left" >What do you want to do?</p>
    
    <div class="container">
      <div class="dropdown-container" (click)="classVisible = !classVisible; checkActivty(); placeHolder = true;" *ngIf="placeHolder">Activities</div>
      <div class="dropdown-container" (click)="classVisible = !classVisible; placeHolder = !placeHolder;" *ngIf="!placeHolder">{{activity}}</div>
      <div class="dropdown-head" [ngClass]="{'options-active': classVisible }">
        <button class="options" *ngFor="let category of categories" value="{{category.id}}" (click)="classVisible = false; placeHolder = !placeHolder; selectedActivity(category.name)">{{category.name}}</button>
      </div>
    </div>
    
    <p class="left">About</p>

    <textarea class="bio" [(ngModel)]="userInfo.bio" name="bio" placeholder="Tell us who you are." ></textarea>

    <p class="left">Hobbies</p>

    <tag-input [(ngModel)]="items" [modelAsStrings]="true"  theme='dark' name="item"></tag-input>

    <input type="submit" class="saveButton" value="SAVE">
  
  </form>
    
  <button (click)="logout()" class="logoutButton">LogOut</button>

</div>


  