<app-header></app-header>

<div class="container">
  <div class="logo-title">
    <p class="title">Friend<span class="zoe">Zoe</span></p>
  </div>
  <div class="bio">
    <h1>CONTACT ME</h1>
    <p>davidpina14@gmail.com</p>
    <a class="linkedin" href="https://www.linkedin.com/in/david-pina-8a46128a/">linkedin</a>
    <p class="something-to-say">
      FriendZone as it was origanlly called, but not so much anymore due to the domain name being taken... was a simple idea of getting people together with no motive of lust. You can expect a IOS version next year. Any questioin regarding the website or offers please direct them to my email. Thank you.
    </p>
  </div>
  <div class="version">
    <p>Version: 1.0.0</p>
    <button (click)="logout()" class="logoutButton disable">LogOut</button>
    <button class="delete-account logoutButton disable" (click)="opacity = !opacity; modal = true;">DELETE ACCOUNT</button>

  </div>
</div>