nav
    background-color: #404040
    min-height: 70px
    >p
        height: 35px
        width: 140px

.brand-logo
    color: white
    cursor: pointer
    font-family: 'Modak', cursive
    display: inline-block
    position: relative
    top: 15px
    left: 5px
    font-size: 25px
    outline: 0px    
    &:hover 
        color: #e0e0e0
    >i
        color: #ffcc80 

.icons
    float: right
    text-align: center
    margin: 15px
    margin-right: 5px
.icon
    cursor: pointer
    height: 35px
    outline: 0px
// .notification
//     height: 8px
//     width: 8px
//     position: absolute
//     background: #ffcc80
//     border-radius: 4px
//     right: 40px