<app-landing-header></app-landing-header>

<div *ngIf="!status" class="password-reset-container">
  <form (submit)="passwordResetRequest()">
    <input class="email" type="email" name="email" [(ngModel)]="user.email" placeholder="Email">
    <input class="button" type="submit" value="Enter">
  </form>
  <p class="title">Password Reset</p>
  <p class="message" *ngIf="errorMessages">{{errorMessages}}</p>
</div>
<div class="email-instructions" *ngIf="status">
  <p>Email has been sent to {{ user.email }} please check your inbox or spam folder.</p>
</div>