<app-header></app-header>

<div *ngIf="cards.length > 0" class="main" swing-stack #myswing1  (throwoutleft)="voteUp(false)" (throwoutright)="voteUp(true)" >   
  
    <div class="card" #mycards1 swing-card *ngFor="let user of cards" >
      
        <div class="profile-image" >
            <img *ngFor="let image of user.image" class="gallary" [src]="image" alt="">
        </div>

        <div class="profile-bio">
            
            <div (click)="isClassVisible = !isClassVisible" class="user-name">
                <p class="name">{{ user.first_name }}</p>
                <P class="distance">{{user.distance}} Mile/s away</P>                
                <P class="age">{{ user.birthday }}</P>
            </div>

            <p *ngIf="!user.blur" class="user-info blur">{{ user.blur }}</p>
            <p *ngIf="user.blur" class="user-info blur-focus blur">{{ user.blur }}</p>            
            <p class="user-info bio">{{ user.bio }}</p>

            <div *ngIf="user.hobbies.length >= 1"  class="likes">

                <p class="like-title">Likes</p>

                <div class="hobbies" *ngFor="let hobbie of user.hobbies">
                    <p class="hobbie">{{hobbie}}</p>
                </div>

            </div>

        </div>
       
    </div>

</div>

<div *ngIf="cards.length === 0" class="loading">
    <ngx-loading  *ngIf="cards.length === 0" [show]="loading" [template]="customLoadingTemplate"></ngx-loading>
    <p class="message" *ngIf="message">{{message}}</p>     
</div>

<div *ngIf="cards.length > 0" class="options">
        
    <button type="submit" class="pass option" (click)="voteUp(false)">Pass</button>
    <button type="submit" class="friendzone option" (click)="voteUp(true)">Friendzone</button>
               
</div>
