div.main
    text-align: center
    // width: 800px
    margin: auto
    height: 580px
    position: relative
    background-color: tomato
    div.card
        border: 1px solid black
        height: 580px
        width: 350px
        margin: auto
        position: absolute
        right: 0
        top: 0
        bottom: 0
        left: 0
    div.profile-image
      
        height: 300px
        width: 100%
    div.profile-bio
        height: 270px
        // width: 370px
        // margin-left: 5px
        
        div.profile-name
            font-size: 15px
            height: 50px
            >p
                font-size: 25px
                cursor: pointer
                font-family: Arial
                position: absolute
                text-transform: uppercase
                margin: 10px 0px 0px 5px
            >i  
                cursor: pointer
                float: right
                padding-top: 12px

    div.card-hide
        height: 0px
        position: absolute
        width: 350px
        bottom: 0
        background-color: #ffffff
        overflow: hidden
        transition: all 800ms
        border-bottom: 1px solid black
        >p
            text-align: left
            width: 90%
            margin: auto
        .label
            font-size: 15px
            height: 50px
            width: 90%
            margin: auto
            >p
                font-size: 25px
                cursor: pointer
                font-family: Arial
                position: absolute
                text-transform: uppercase
                margin: 10px 0px 0px 0px
            >i  
                cursor: pointer
                float: right
                padding-top: 12px

    div.card-show
        height: 570px

.options
    // margin-top: 10px
    position: relative
    width: 350px
    margin: auto
    right: 0
    left: 0
    top: 5px
    background-color: green
    text-align: center
    .option
        background-color: #cfd8dc
        height: 45px
        width: 47%
        &:hover
            background-color: #bdbdbd 
