.main
    text-align: center
    margin: auto
    height: 580px
    position: relative
    @media screen and (min-height: 800px)
        height: 665px

.card
    border: 1px solid black
    height: 580px
    width: 350px
    margin: auto
    position: absolute
    background-color: #fff
    right: 0
    top: 20px
    bottom: 0
    left: 0
    border-radius: 50px
    box-shadow: 0px 0px 15px 0px #888888
    overflow: scroll
    -ms-overflow-style: none
    -moz-scrollbars-none
    @media screen and (width: 320px)
        width: 300px
        bottom: 70px
.card::-webkit-scrollbar
    width: 0 !important
.profile-image::-webkit-scrollbar
    width: 0 !important
.profile-image
    height: 250px
    width: 100%
    overflow-x: scroll
    white-space: nowrap
    img
        float: left
        width: 350px
        height: 250px
        @media screen and (width: 320px)
            width: 300px

.user-info
    padding: 20px
    text-align: left
    
.chips
    background-color: sandybrown
    width: 60px
    padding: 5px
    display: inline-block
    position: relative
    margin: 5px
    top: 5px
    border-radius: 15px
.user-name
    height: 37px
    .name
        float: left
        font-size: 25px
        cursor: pointer
        font-family: 'Song Myung', serifc
        text-transform: uppercase
        position: relative
        left: 10px
        bottom: 5px
    .icon
        float: right   
        padding: 2px     
.icon
    cursor: pointer
    float: right
    position: relative
    top: 5px
    font-size: 30px
.likes
    padding: 5px
    text-align: left
    >p
        text-align: left
        width: 90%
        margin-left: 15px
.blur
    min-height: 90px
    width: 85%
    text-align: left
.card-show
    height: 285px
    
.options
    position: relative
    width: 370px
    margin: auto
    right: 0
    left: 0
    top: 20px
    text-align: center
    @media screen and (width: 320px)
        width: 310px
.option
    box-shadow: 0px 5px 15px 2px #888888
    height: 45px
    width: 47%
    border-radius: 20px
    border: 0
    text-transform: uppercase
    color: #fff
    cursor: pointer
.pass
    background: #ef5350
.friendzone
    background: #66bb6a

.hobbies
    background-color: lavender
    display: inline-block
    padding: 10px
    border-radius: 20px
    margin: 6px
    text-transform: capitalize
.like-title
    font-size: 25px
    margin-bottom: 10px
.age
    margin-right: 5px
    font-size: 30px
    float: right
    margin-top: -8px
.bio
    width: 85%
    min-height: 100px

.blur::before
    content: "Blur:"
    margin: 5px
    font-size: 20px

.bio::before
    content: "Bio:"
    margin: 5px
    font-size: 20px

.distance
    display: inline-block

.loading
    position: relative
    height: 90.5%

.message
    width: 115px
    margin: auto
    position: absolute
    bottom: 30%
    left: 0px
    font-weight: bold
    font-family: 'Song Myung', serifc
    right: 0px
    text-align: center
    -ms-transform: rotate(20deg)
    -webkit-transform: rotate(20deg)
    transform: rotate(20deg)
    animation: text-spin 4s infinite

@keyframes text-spin
    0%
        transform: rotateY(0deg)
    100%
        transform: rotateY(360deg)
    

