<app-header></app-header>

<div class="main" swing-stack #myswing1  (throwoutleft)="voteUp(false)" (throwoutright)="voteUp(true)">
  
    <div class="card" #mycards1 swing-card *ngFor="let user of cards" >
      
        <div class="profile-image">
            <img class="activator" height="300px" width="100%" src="http://materializecss.com/images/office.jpg" alt="Profile Image">
        </div>

        <div class="profile-bio">
            
            <div (click)="isClassVisible = !isClassVisible" class="profile-name">
                <p>{{ user.first_name }}</p>
                <i class="material-icons">more_vert</i>
            </div>
            <p>{{ blur }}</p>

        </div>

        <div [ngClass]="{'card-show': !isClassVisible }" class="card-hide" ngDefaultControl>
            
            <div (click)="isClassVisible = !isClassVisible;" class="label">
                <p>{{ user.first_name }}</p>
                <i class="material-icons">close</i>
            </div>
        
            <p>
                {{ bio }}
            </p>

        </div>

    </div>


  

</div>

<div class="options">

    <button type="submit" class="option" (click)="voteUp(false)" >Pass</button>
    <button type="submit" class="option" (click)="voteUp(true)">Friendzone</button>
       
</div>