<app-landing-header></app-landing-header>
<div class="login">

  <form (submit)="authenticate()">
    <input class="form-group form-input" type="email" placeholder="Email" (input)="validate()" name="email" [(ngModel)]="user.email">
    <input class="form-group form-input" type="password" placeholder="Password" (input)="validate()" name="password" [(ngModel)]="user.password">
    <input class="form-group form-button" [ngClass]="{'form-active': formActive }" type="submit" value="Login">
    <button [routerLink]="['/register']"  class="form-group button-link">Register</button>
    <p class="error-message" *ngIf="message">{{message}}</p>
    
  </form>
  
</div>
